:root {
  --app-header-height: 40px;
  --app-header-z-index: 5000;
  --app-header-opacity: 0.75;
  --app-border-opacity: 0.2;
  --app-activitybar-width: 64px;
}

body[app-will-close='true'] {
  --app-header-z-index: 1000;
}

body[app-status='focus'] {
  --app-header-opacity: 1;
  --app-border-opacity: 0.4;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}

.app-drag {
  -webkit-app-region: drag;
}

.flex-column {
  flex-direction: column;
}

.layout-lr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-center-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-center-px {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.layout-center-py {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-btn {
  transition: background-color 0.15s ease-in;
  &:hover {
    background-color: rgba(127, 127, 127, 0.12);
  }

  &:active {
    background-color: rgba(127, 127, 127, 0.24);
  }

  &.active {
    background-color: rgba(127, 127, 127, 0.36);
  }
}

.text-btn-common {
  transition: background-color 0.15s ease-in;
  &:hover {
    background-color: rgba(var(--app-color-common-rgb), 0.12);
  }

  &:active {
    background-color: rgba(var(--app-color-common-rgb), 0.24);
  }

  &.active {
    background-color: rgba(var(--app-color-common-rgb), 0.36);
  }
}

.outline-common,
.focus-outline:focus {
  outline: 1px solid var(--app-color-common);
  outline-offset: -1px;
}
