:root {
  --skin-blue: #2196f3;
  --skin-blue-light: #e2f3ff;
  --skin-rgb-blue: 33, 150, 243;
  --skin-dark: #1b1b1b;
  --skin-dark-light: #f4f4f4;
  --skin-rgb-dark: 27, 27, 27;
}

body {
  --color-text-0: #000000;

  --app-theme: var(--skin-blue);
  --app-theme-rgb: var(--skin-rgb-blue);
  --app-color-common: var(--app-theme);
  --app-color-common-rgb: var(--app-theme-rgb);

  --app-color-bg: var(--skin-blue-light);
  --app-color-text: var(--color-text-1);
}

body[arco-theme='dark'] {
  --color-text-0: #ffffff;

  --app-theme: var(--skin-dark);
  --app-theme-rgb: var(--skin-rgb-dark);
  --app-color-common: #e4a329;
  --app-color-common-rgb: 228, 163, 41;

  --app-color-bg: var(--color-bg-3);
}

.text-color-black {
  color: #000000;
}

.text-color-white {
  color: #ffffff;
}
