:root {
  --skin-blue: #2196f3;
  --skin-rgb-blue: 33, 150, 243;
  --skin-dark: #3c3c3c;
  --skin-rgb-dark: 60, 60, 60;
}

body {
  --color-text-0: #000000;

  --app-theme: var(--skin-blue);
  --app-theme-rgb: var(--skin-rgb-blue);
  --app-color-common: var(--app-theme);
  --app-color-common-rgb: var(--app-theme-rgb);

  --app-color-bg: #e2f3ff;
  --app-color-text: var(--color-text-1);

  /* 编辑页面 */
  --editor-bg: var(--app-color-bg);
  --editor-sidebar-bg: #f7fcff;
  --editor-sidebar-actions-bg: #f7f7f5;
}

body[arco-theme='dark'] {
  --color-text-0: #ffffff;

  --app-theme: var(--skin-dark);
  --app-theme-rgb: var(--skin-rgb-dark);
  --app-color-common: #e4a329;
  --app-color-common-rgb: 228, 163, 41;

  --app-color-bg: var(--color-bg-3);

  /* 编辑页面 */
  --editor-bg: #212121;
  --editor-sidebar-bg: #252526;
  --editor-sidebar-actions-bg: #333333;
}

.text-color-black {
  color: #000000;
}

.text-color-white {
  color: #ffffff;
}
