:root {
  --skin-cyan: #00bcd4;
  --skin-cyan-light: #e8fffb;
  --skin-cyan-rgb: 0, 189, 214;
  --skin-blue: #2196f3;
  --skin-blue-light: #e8f3ff;
  --skin-blue-rgb: 33, 150, 243;
  --skin-red: #f44336;
  --skin-red-light: #fef6f5;
  --skin-red-rgb: 244, 67, 54;
  --skin-orange: #eb9a18;
  --skin-orange-light: #fff7e8;
  --skin-orange-rgb: 235, 154, 24;
  --skin-pink: #fb7299;
  --skin-pink-light: #fff8fa;
  --skin-pink-rgb: 251, 114, 153;
  --skin-dark: #3c3c3c;
  --skin-dark-rgb: 60, 60, 60;
  --skin-green: #4caf50;
  --skin-green-light: #f6fbf6;
  --skin-green-rgb: 76, 175, 80;
  --skin-teal: #009688;
  --skin-teal-light: #f2faf9;
  --skin-teal-rgb: 0, 150, 136;
  --skin-brown: #795548;
  --skin-brown-light: #f8f7f6;
  --skin-brown-rgb: 121, 85, 72;
  --skin-purple: #673ab7;
  --skin-purple-light: #f7f5fb;
  --skin-purple-rgb: 103, 58, 183;
  --skin-indigo: #3f51b5;
  --skin-indigo-light: #f5f6fb;
  --skin-indigo-rgb: 63, 81, 181;
  --skin-blue-grey: #607d8b;
  --skin-blue-grey-light: #f7f9f9;
  --skin-blue-rgb-grey: 96, 125, 139;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
}

body {
  --color-text-0: #000000;

  --app-theme: var(--skin-blue);
  --app-theme-rgb: var(--skin-blue-rgb);
  --app-color-common: var(--app-theme);
  --app-color-common-rgb: var(--app-theme-rgb);

  --app-color-bg: var(--skin-blue-light);
  --app-color-text: var(--color-text-1);
  // 应用侧边栏颜色
  --app-sidebar-bg: rgba(255, 255, 255, 0.5);
  /* 编辑页面 */
  --editor-bg: var(--app-color-bg);
  --editor-sidebar-bg: var(--app-sidebar-bg);
  --editor-activitybar-bg: #f7f7f5;
}

body[arco-theme='dark'] {
  --color-text-0: #ffffff;

  --app-theme: var(--skin-dark);
  --app-theme-rgb: var(--skin-dark-rgb);
  --app-color-common: #e4a329;
  --app-color-common-rgb: 228, 163, 41;

  --app-color-bg: var(--color-bg-3);
  // 应用侧边栏颜色
  --app-sidebar-bg: #252526;
  /* 编辑页面 */
  --editor-bg: #212121;
  --editor-activitybar-bg: #333333;
}

body[arco-theme='cyan'] {
  --app-theme: var(--skin-cyan);
  --app-theme-rgb: var(--skin-cyan-rgb);
  --app-color-bg: var(--skin-cyan-light);
}

body[arco-theme='teal'] {
  --app-theme: var(--skin-teal);
  --app-theme-rgb: var(--skin-teal-rgb);
  --app-color-bg: var(--skin-teal-light);
}

body[arco-theme='red'] {
  --app-theme: var(--skin-red);
  --app-theme-rgb: var(--skin-red-rgb);
  --app-color-bg: var(--skin-red-light);
}

body[arco-theme='orange'] {
  --app-theme: var(--skin-orange);
  --app-theme-rgb: var(--skin-orange-rgb);
  --app-color-bg: var(--skin-orange-light);
}

body[arco-theme='pink'] {
  --app-theme: var(--skin-pink);
  --app-theme-rgb: var(--skin-pink-rgb);
  --app-color-bg: var(--skin-pink-light);
}

body[arco-theme='green'] {
  --app-theme: var(--skin-green);
  --app-theme-rgb: var(--skin-green-rgb);
  --app-color-bg: var(--skin-green-light);
}

body[arco-theme='brown'] {
  --app-theme: var(--skin-brown);
  --app-theme-rgb: var(--skin-brown-rgb);
  --app-color-bg: var(--skin-brown-light);
}

body[arco-theme='purple'] {
  --app-theme: var(--skin-purple);
  --app-theme-rgb: var(--skin-purple-rgb);
  --app-color-bg: var(--skin-purple-light);
}

body[arco-theme='indigo'] {
  --app-theme: var(--skin-indigo);
  --app-theme-rgb: var(--skin-indigo-rgb);
  --app-color-bg: var(--skin-indigo-light);
}

body[arco-theme='blue-grey'] {
  --app-theme: var(--skin-blue-grey);
  --app-theme-rgb: var(--skin-blue-rgb-grey);
  --app-color-bg: var(--skin-blue-grey-light);
}
